/* line 10, ../_sass/main.scss */
* {
  margin: 0;
  padding: 0;
}

/* Wrapper for page content to push down footer */
/* line 16, ../_sass/main.scss */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -45px;
  /* Pad bottom by footer height */
  padding: 0 0 45px;
  background-color: #fafafa;
}

/* Set the fixed height of the footer here */
/* line 27, ../_sass/main.scss */
#footer {
  height: 45px;
  background-color: #f5f5f5;
}

/* line 32, ../_sass/main.scss */
.logo-wrapper {
  position: relative;
  float: left;
  width: 50%;
}
/* line 38, ../_sass/main.scss */
.logo-wrapper .main-logo {
  position: relative;
  margin: 0 auto;
  width: 160px;
  height: 90px;
  display: block;
  background: url('../img/logo_white.png') 50% 50% no-repeat;
  background-size: 100%, auto;
}

/* line 49, ../_sass/main.scss */
.social-media-nav {
  float: left;
  width: 24%;
  margin-top: 30px;
}
/* line 53, ../_sass/main.scss */
.social-media-nav a {
  width: 23px;
  height: 23px;
  display: inline-block;
  margin: 5px;
}
/* line 59, ../_sass/main.scss */
.social-media-nav a:first-child {
  margin-left: 8%;
}
/* line 62, ../_sass/main.scss */
.social-media-nav .twitter {
  background: url('../img/twitter.png') 50% 50% no-repeat;
  background-size: 100%, auto;
}
/* line 66, ../_sass/main.scss */
.social-media-nav .instagram {
  background: url('../img/instagram.png') 50% 50% no-repeat;
  background-size: 100%, auto;
}
/* line 70, ../_sass/main.scss */
.social-media-nav .rss-feed {
  background: url('../img/rss.png') 50% 50% no-repeat;
  background-size: 100%, auto;
}

/* line 76, ../_sass/main.scss */
.menu-wrapper {
  width: 24%;
  float: left;
  margin-top: 30px;
}
/* line 80, ../_sass/main.scss */
.menu-wrapper .menu-icon {
  float: right;
  margin-right: 20px;
  width: 30px;
  height: 30px;
  display: inline-block;
  background: url('../img/menu-icon.png') 50% 50% no-repeat;
  background-size: 100%, auto;
}

/* line 91, ../_sass/main.scss */
.site-header {
  background-color: #f84836;
  height: 100px;
  padding: 10px;
  padding-bottom: 0;
}

/* line 98, ../_sass/main.scss */
.subheader {
  background-color: #f95f4e;
  height: 60px;
  text-align: center;
  position: relative;
}
/* line 103, ../_sass/main.scss */
.subheader .white {
  color: #feedeb;
}
/* line 106, ../_sass/main.scss */
.subheader span {
  line-height: 60px;
  font-family: Belleza, sans-serif;
  font-size: 20px;
}

/* line 113, ../_sass/main.scss */
.white {
  color: #fff;
}

/* line 117, ../_sass/main.scss */
.site-nav {
  display: none;
}

/* line 121, ../_sass/main.scss */
.page-content {
  margin-top: 50px;
  width: 100%;
  position: relative;
  font-family: "Droid Serif", serif;
  font-size: 16px;
}
/* line 125, ../_sass/main.scss */
.page-content .content-wrapper {
  width: 50%;
  margin: 0 auto;
}

/* line 133, ../_sass/main.scss */
h1.post-title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
/* line 137, ../_sass/main.scss */
h1.post-title a {
  display: inline-block;
  max-width: 80%;
  font-size: 26px;
  font-family: Belleza, sans-serif;
  color: #000;
  text-decoration: none;
}

/* line 147, ../_sass/main.scss */
.fleur {
  vertical-align: top;
  margin: 0 15px;
  width: 25px;
  height: 25px;
  display: inline-block;
  background: url('../img/fleur_de_lis.png') 50% 50% no-repeat;
  background-size: 90%, auto;
}

/* line 157, ../_sass/main.scss */
.post {
  margin-bottom: 50px;
}
/* line 159, ../_sass/main.scss */
.post .line {
  margin-top: 40px;
  border-bottom: 1px solid #f84836;
}
/* line 165, ../_sass/main.scss */
.post a {
  text-decoration: none;
  color: #f84836;
}
/* line 169, ../_sass/main.scss */
.post a:hover, .post a:focus {
  color: orange;
}
