/* line 8, ../_sass/main.scss */
* {
  margin: 0;
  padding: 0;
}

/* Wrapper for page content to push down footer */
/* line 14, ../_sass/main.scss */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -45px;
  /* Pad bottom by footer height */
  padding: 0 0 45px;
}

/* Set the fixed height of the footer here */
/* line 24, ../_sass/main.scss */
#footer {
  height: 45px;
  background-color: #f5f5f5;
}

/* line 29, ../_sass/main.scss */
.logo-wrapper {
  position: relative;
  float: left;
  width: 50%;
}
/* line 35, ../_sass/main.scss */
.logo-wrapper .main-logo {
  position: relative;
  margin: 0 auto;
  width: 160px;
  height: 90px;
  display: block;
  background: url('../img/logo_white.png') 50% 50% no-repeat;
  background-size: 100%, auto;
}

/* line 46, ../_sass/main.scss */
.social-media-nav {
  float: left;
  width: 24%;
  margin-top: 30px;
}
/* line 50, ../_sass/main.scss */
.social-media-nav a {
  width: 23px;
  height: 23px;
  display: inline-block;
  margin: 5px;
}
/* line 56, ../_sass/main.scss */
.social-media-nav a:first-child {
  margin-left: 8%;
}
/* line 59, ../_sass/main.scss */
.social-media-nav .twitter {
  background: url('../img/twitter.png') 50% 50% no-repeat;
  background-size: 100%, auto;
}
/* line 63, ../_sass/main.scss */
.social-media-nav .instagram {
  background: url('../img/instagram.png') 50% 50% no-repeat;
  background-size: 100%, auto;
}
/* line 67, ../_sass/main.scss */
.social-media-nav .rss-feed {
  background: url('../img/rss.png') 50% 50% no-repeat;
  background-size: 100%, auto;
}

/* line 73, ../_sass/main.scss */
.menu-wrapper {
  width: 24%;
  float: left;
  margin-top: 30px;
}
/* line 77, ../_sass/main.scss */
.menu-wrapper .menu-icon {
  float: right;
  margin-right: 20px;
  width: 30px;
  height: 30px;
  display: inline-block;
  background: url('../img/menu-icon.png') 50% 50% no-repeat;
  background-size: 100%, auto;
}

/* line 88, ../_sass/main.scss */
.site-header {
  background-color: #f84836;
  height: 100px;
  padding: 10px;
  padding-bottom: 0;
}

/* line 95, ../_sass/main.scss */
.subheader {
  background-color: #f95f4e;
  height: 60px;
  text-align: center;
  position: relative;
}
/* line 100, ../_sass/main.scss */
.subheader .white {
  color: #feedeb;
}
/* line 103, ../_sass/main.scss */
.subheader span {
  line-height: 60px;
}

/* line 108, ../_sass/main.scss */
.white {
  color: #fff;
}

/* line 112, ../_sass/main.scss */
.site-nav {
  display: none;
}
