---
title: My Musings on Music
layout: default
---

<div class="home">

{% for post in paginator.posts %}
<div class="post">
  <h2 class="post-title text-center heading row clear mobile-no-padding">
    <div class="col col-4 tablet-col-3">
      <span class="fleur block right no-mobile"></span>
    </div>
    <div class="col col-4 tablet-col-6 mobile-full">
      <a href="{{ post.url }}">{{ post.title }}</a>
    </div>
    <div class="col col-4 tablet-col-3">
      <span class="fleur block left no-mobile"></span>
    </div>
  </h2>
  <article class="content">
    {{ post.content }}
  </article>
  <div class="text-center misc">
    <div class="mobile-full inline-block">
    <i class="icon-calendar-empty inline-block"></i>
    <span class="inline-block">{{ post.date | date: "%-d. %B %Y" }}</span>
    </div>
    {% if post.comments %}
    <div class="mobile-full inline-block">
    <i class="icon-comment-empty inline-block"></i>
    <a class="count-disqus-comments" href="{{ post.url | prepend: site.url }}#disqus_thread" data-disqus-url="{{ post.url | prepend: site.url }}"></a>
    {% endif %}
    </div>
    <div class="col-12 mobile-full inline-block">
    <i class="icon-tag inline-block"></i>
    <span class="inline-block tags">{{ post.tags | join: ' ' | truncate: 80 }}</span>
    </div>
  </div>
  {% unless forloop.last %}
    <div class="line"></div>
  {% endunless %}
</div>
{% endfor %}


{% if paginator.total_pages > 1 %}
<div class="pagination text-center row clear">
  <div class="pagination-box inline-block">
    {% if paginator.previous_page %}
      <a class="page-box inline-block" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span class="page-box inline-block inactive" disabled>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="page-box inline-block active">{{ page }}</span>
      {% elsif page == 1 %}
        <a class="page-box inline-block" href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a class="page-box inline-block" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a class="page-box inline-block" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span class="page-box inline-block inactive">Next &raquo;</span>
    {% endif %}
  </div>
</div>
{% endif %}

</div>

