<header class="site-header">

  <div class="wrap">
    <nav class="social-media-nav">
      <a class="twitter" href="{{ site.twitter_url }}" target="_blank"></a>
      <a class="instagram" href="{{ site.instagram_url }}" target="_blank"></a>
      <a class="rss-feed" href="{{ "/feed.xml" | prepend: site.baseurl }}"></a>
    </nav>
    <div class="logo-wrapper">
      <a class="main-logo" href="{{ site.baseurl }}/"></a>
    </div>
    <div class="menu-wrapper">
      <a class="menu-icon"></a>
    </div>

    <nav class="site-nav">
      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
<div class="subheader">
<span class="white">Music can be a form of perfection - with nothing added or subtracted, flawless just the way it is.</span>
</div>
