<header class="site-header row clear">

    <nav class="social-media-nav col col-3 tablet-col-4 mobile-no-padding mobile-no-margin">
      <ul class="mobile-no-margin">
        <li class="inline-block">
          <a class="icon-twitter twitter mobile-no-margin" href="{{ site.twitter_url }}" target="_blank"></a>
        </li>
        <li class="inline-block">
          <a class="icon-instagramm instagram mobile-no-margin" href="{{ site.instagram_url }}" target="_blank"></a>
        </li>
        <li class="inline-block">
          <a class="icon-mail-alt rss-feed mobile-no-margin" href="{{ site.subscribe_url }}" target="_blank" title="Subscribe!"></a>
        </li>
      </ul>
    </nav>
    <div class="logo-wrapper col col-6 tablet-col-4">
      <a class="main-logo container block" href="{{ site.baseurl }}/"></a>
    </div>
    <div class="menu-wrapper col col-3 tablet-col-4">
      <a class="icon-menu right inline-block higher" id="menu" href="#"></a>
    </div>
    <nav class="site-nav right">
      <ul class="no-padding no-margin">
        <li class="inline-block">
          <a class="page-link" href="{{ site.baseurl }}/">Blog</a>
        </li>
        {% for page in site.pages %}
            {% if page.title %}
            {% unless page.title == 'Oops!' or page.title == 'My Musings on Music' or page.title == 'Louis Armstrong Discography' %}
          <li class="inline-block">
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          </li>
            {% endunless %}
            {% endif %}
        {% endfor %}
      </ul>
    </nav>



</header>

<div class="subheader text-center">
<h4 class="white heading inline-block">Music can be a form of perfection - with nothing added or subtracted, flawless just the way it is.</h4>
</div>
