// ==========================================================================
// Desktop Custom Styles
// ==========================================================================


// Mixin not where it should be, because it doesn't load it from _custom_mixins.scss
@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}


/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -40px;
  /* Pad bottom by footer height */
  padding: 0 0 40px;
  background-color: $light-gray;
}

/* Set the fixed height of the footer here */
footer {
  height: 40px;
  background-color: #f5f5f5;
}

a { text-decoration: none; }
a:hover { color: $secondary-color; }

.white { color: $default-color-white; }

.heading { font-family: $heading-font-family; }

.site-header {
  background-color: $default-color;
  height: 100px;
  padding: 10px;
  padding-bottom: 0;

  .main-logo {
    width: 160px;
    height: 90px;
    background: image-url("logo_white.png", false, false) 50% 50% no-repeat;
    background-size:(100%, auto);
  }

  .social-media-nav {
      margin-top: 28px;
      a {
        @include transition(all, 0.5s, ease);
        width: 23px;
        height: 23px;
        margin: 5px;
        margin-right: 15px;
        color: $default-color-low;
        font-size: 28px;
      }
      a:first-child {
        margin-left: 8%;
      }
      a:last-child {
        margin-right: 0;
      }
      a:hover {
        color: $default-color-white;
      }
    }

  .menu-wrapper {
      margin-top: 25px;
      .icon-menu {
        font-size: 30px;
        @include transition(all, 0.5s, ease);
        color: $default-color-low;
        margin-right: 40px;
        width: 30px;
        height: 30px;
      }
      a:hover {
        color: $default-color-white;
      }
    }
}

.subheader {
  background-color: $default-color-shade;
  height: 60px;
  .heading {
    line-height: 60px;
  }
}

.content {
    margin-top: 25px;
}

.content .post-title {
    a { color: black; }
    a:hover { color: $secondary-color; }
}

.fleur {
  transform: translateY(35%);
  width: 25px;
  height: 25px;
  background: image-url("fleur_de_lis.png", false, false) 50% 50% no-repeat;
  background-size:(90%, auto);
}

.post {
  margin-bottom: 20px;
  .line {
    // width: 90%;
    margin-top: 40px;
    border-bottom: 1px solid $default-color-gray;
    // margin: 0 auto;
  }
  a {
    @include transition(all, 0.2s, ease);
  }
}

.gray {
    color: $dark-gray;
}