// ==========================================================================
// Desktop Custom Styles
// ==========================================================================


html, body {
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -40px;
  /* Pad bottom by footer height */
  padding: 0 0 40px;
  background-color: $light-gray;
}

/* Set the fixed height of the footer here */
footer {
  height: 40px;
  background-color: #f5f5f5;
}

a { text-decoration: none; }
a:hover { color: $secondary-color; }

.white { color: $default-color-white; }

.heading { font-family: $heading-font-family; }

.site-header {
  background-color: $default-color;
  height: 100px;
  padding: 10px;
  padding-bottom: 0;

  .main-logo {
    width: 160px;
    height: 90px;
    background: image-url("logo_white.png", false, false) 50% 50% no-repeat;
    background-size:(100%, auto);
  }

  .social-media-nav {
      margin-top: 14px;
      a {
        @include transition(all, 0.5s, ease);
        width: 23px;
        height: 23px;
        margin: 5px;
        margin-right: 5px;
        color: $default-color-low;
        font-size: 28px;

      }
      a:hover {
        color: $default-color-white;
      }
      @include respond-to(handhelds) {
        margin-top: 0;
      }
      li {
        @include respond-to(handhelds) {
          display: block;
        }
      }
    }

  .menu-wrapper {
      margin-top: 25px;
      .icon-menu {
        position: relative;
        font-size: 30px;
        @include transition(all, 0.5s, ease);
        color: $default-color-low;
        margin-right: 40px;
        width: 30px;
        height: 30px;
        @include respond-to(handhelds) {
          margin-right: 8px;
        }
      }
      a:hover {
        color: $default-color-white;
      }
    }
}

.subheader {
  background-color: $default-color-shade;
  height: 60px;
  line-height: 60px;
  .heading {
    vertical-align: middle;
    // @media-query ($)
    line-height: ($default-line-height - 2px);
  }
}

.content {
    margin-top: 25px;
}

.post-title {
    a { color: $darker-gray; }
    a:hover { color: $secondary-color; }
}

.fleur {
  opacity: 0.8;
  transform: translateY(35%);
  width: 23px;
  height: 25px;
  background: image-url("fleur_de_lis.png", false, false) 50% 50% no-repeat;
  background-size:(90%, auto);
}

.post {
  margin-bottom: 20px;
  .line {
    // width: 90%;
    margin-top: 40px;
    border-bottom: 1px solid $default-color-gray;
    // margin: 0 auto;
  }
  a {
    @include transition(all, 0.2s, ease);
  }
}

.single-post {
  margin-top: 25px;
}

.gray {
    color: $dark-gray;
}

.pagination-box {
    margin-top: 40px;
    border: 1px solid $default-color-shade;
    @include border-radius(2px);
    overflow: hidden;
    .page-box {
        @include transition(all, 0.2s, ease);
        padding: 8px 12px;
        border-left: 1px solid $default-color-shade;
        color: $default-color;
        margin-left: -4px;
        @include respond-to(handhelds) {
          padding: 6px 8px; 
        }
    }
    .page-box:hover {
        background-color: $default-color;
        color: $default-color-white;
    }
    .page-box:first-child {
        border-left: 0;
    }
    .inactive:hover {
        color: $default-color;
        background-color: $light-gray;
    }
    .active {
        background-color: $default-color;
        color: $default-color-white;
    }
}

.post-header {
    margin-bottom: 30px;
}

article h4 {
    color: $dark-gray;
    font-style: italic;
    text-align: center;
}

.circle {
  @include border-radius(50%);
}

.breathe {
  margin: 10px;
}

.left.breathe {
  margin-right: 25px;
}

.right.breathe {
  margin-left: 25px;
}

.site-nav {
  display: none;
  position:absolute;
  margin-top: 15px;
  right: 30px;
  padding-right: 100px;
  background-color: $default-color-shade;
  @include border-radius(5px);
  overflow: hidden;
  @include respond-to(handhelds) {
    right: 0;
    margin-top: 0;
    opacity: 0.9;
  }
  li:first-child a {
    margin-left: 0;
  }
  a {
    @include transition(all, 0.2s, ease);
    display: inline-block;
    margin-left: -4px;
    padding: 14px 14px;
    padding-left: 16px;
    color: $default-color-white;
    font-family: $heading-font-family;
    font-size: ($default-font-size + 5px);
    border: 1px solid $default-color-shade;
    @include respond-to(handhelds) {
      padding: 30px 15px;
    }
  }
  li:first-child a:hover {
    border: 1px solid $default-color-white;
    @include border-left-radius(5px);
    // background-color: $default-color;
  }
  a:hover {
    border: 1px solid $default-color-white;
    // background-color: $default-color;
  }
}

.higher {
  z-index: 5;
}