// Styles for data visualization

#sunra-container {
    @include respond-to(handhelds) {
        display: none;
    }
    min-height: 580px;
    margin-bottom: 4px;
    border-bottom: 1px solid $dark-gray;
    #sunra {
        margin-bottom: 30px;
        .axis line,
        .axis path {
            fill: none;
            stroke: $dark-gray;
        }

        .record {
            fill: $dark-gray;
            stroke: $dark-gray;
            stroke-width: 2px;
        }
        .record:hover {
            cursor: pointer;
        }

    }
    .sunra-cover {
        display: inline-block;
        width: 200px;
        height: 200px;
        background-size: 100% 100%;
    }
    .sunra-content {
        display: inline-block;
        display: none;
    }
    .review {
        font-size: ($default-font-size - 1px);
    }
    .review-content {
        display: none;
    }
}

#satchmo-container {
    @include respond-to(handhelds) {
        display: none;
    }
    position: relative;
    .plot-clip {
        position: absolute;
        overflow-x: hidden;
        pointer-events: none;
    }
    #session-info {
        position: absolute;
        text-align: center;
        width: 500px;
        padding: 5px;
        font: 12px sans-serif;
        pointer-events: none;
        .first-section {
            margin-bottom: 10px;
        }
        .split {
            width: 45%;
        }
        .no-split {
            width: 100%;
            clear: both;
            margin-top: 10px;
        }
    }
    .axis {
        font-family: 'Droid', sans-serif;
        font-size: 14px;
        path {
            fill: none;
            stroke: #aaa;
        }
        line {
            fill: none;
            stroke: $dark-gray;
        }
    }
    .axis-label {
        font-family: 'Droid', sans-serif;
        font-size: 12px;
        font-weight: 600;
    }
    .legend {
        font-family: 'Droid', sans-serif;
        font-size: 14px;
    }
    .important-event {
        width: 300px;
        position: absolute;
        p {
            font-size: 12px;
        }
        h3 {
            font-size: 18px;
        }
    }
}