// ==========================================================================
// Base – Global Variables
// ==========================================================================

// Container Defaults
$mobile-container:   100%;
$tablet-container:   720px;
$desktop-container:  960px;


// Resonsive Design Break Points
$mobile-breakpoint:  ($tablet-container + 19px);
$tablet-breakpoint:  ($tablet-container + 20px);
$desktop-breakpoint: ($desktop-container);

// Default Fonts
$default-font-family:      'Droid Serif', serif;
$default-code-font-family: 'courier new', monospace, serif;
$heading-font-family: Belleza, sans-serif;

// Font Size Defaults
$h1: 40;
$h2: 32;
$h3: 26;
$h4: 20;
$h5: 18;
$h6: 16;

$default-font-size:   16;
$default-line-height: 21;

// Default Colours
$default-color:               #F84836;
$default-color-shade:         #F95F4E;
$default-color-low:           #FBA69D;
$default-color-white:         #FEEDEB;
$default-color-gray:          #CB6D62;
$secondary-color:             #f77536;
$default-font-color:          #434343;
$default-link-color:          ($default-color);
$default-button-color:        #e74b3c;
$default-button-hover-color:  #f43f3f;

$light-gray: #fafafa;
$medium-gray: #eeeeee;
$dark-gray: #aaaaaa;
$darker-gray: #434343;
